# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build

# emacs ide
.emacs.desktop
.emacs-ide-project.txt
TAGS
cscope.files
*.lock

*#
